<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br>
    <%= f.text_area :bio %>
  </div>
  
  <div class="field">
    <%= f.label :nationality %><br>
    <%= f.text_field :nationality %>
  </div>
  <div class="field">
    <%= f.label :birthplace %><br>
    <%= f.text_field :birthplace %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %><br>
    <%= f.date_select :date_of_birth, :use_month_numbers => true %>
  </div>
  <div class="field">
	<%= f.check_box :isdeath,{:checked=>true}, "yes", "no" %>
    <%= f.label :date_of_death %><br>
    <%= f.date_select :date_of_death, :use_month_numbers => true %>
  </div>
  <div class="field">
    <%= f.label :occupation %><br>
    <%= f.text_field :occupation %>
  </div>
  <div class="field">
    <%= f.label :wikipedia_url %><br>
    <%= f.text_field :wikipedia_url %>
  </div>
  <div class="field">
    <%= f.label :baike_url %><br>
    <%= f.text_field :baike_url %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
