<%= form_for(@person) do |f| %>
  <% if @person.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@person.errors.count, "error") %> prohibited this person from being saved:</h2>

      <ul>
      <% @person.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>:
    <%= f.text_field :name, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :bio %>:<br>
    <%= f.text_area :bio , rows: 10, cols: 40 %>
  </div>
  
  <div class="field">
    <%= f.label :nationality %>:&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :nationality, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :birthplace %>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :birthplace, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :date_of_birth %>:&nbsp;&nbsp;
    <%= f.text_field :date_of_birth, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :date_of_death %>:
    <%= f.text_field :date_of_death, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :occupation %>:&nbsp;&nbsp;&nbsp;
    <%= f.text_field :occupation, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :wikipedia_url %>:&nbsp;
    <%= f.text_field :wikipedia_url, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :baike_url %>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.text_field :baike_url, size: 30 %>
  </div>
  <div class="field">
    <%= f.label :people_photo %>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <%= f.file_field :photo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
