<%= form_for(@people_yearbook) do |f| %>
  <% if @people_yearbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@people_yearbook.errors.count, "error") %> prohibited this people_yearbook from being saved:</h2>

      <ul>
      <% @people_yearbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
	    Person Name:<br>
		<input type="text" name="person_name" value="" size="30" /> 
	</div>
	<div class="field">
		Event Date: <br>
		<%= f.text_field :event_date, size: 30 %>
	</div>
	<div class="field">
	    Place: <br>
	    <%= f.text_field :place, size: 30 %>
	</div>
	<div class="field">
	    Event Description: <br>
	    <%= f.text_area :event_description, rows: 8, cols: 30 %>
	</div>
	<div class="field">
		<%= f.label :tag %>(Comma Separated)<br/>
		<%= f.text_field :tag, size: 30 %>
	</div>
  	<div class="field">
    	<%= f.label :people_yearbooks_photo %>:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    	<%= f.file_field :photo %>
  	</div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
