<%= form_for(@people_yearbook) do |f| %>
  <% if @people_yearbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@people_yearbook.errors.count, "error") %> prohibited this people_yearbook from being saved:</h2>

      <ul>
      <% @people_yearbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
	    Person Name<br>
		<input type="text" name="person_name" value="" size="30" /> 
	</div>
	<div class="field">
	    <%= f.label :pdate %><br>
	    <%= f.date_select :pdate, :use_month_numbers => true %>
	</div>
	<div class="field">
	    <%= f.label :place %><br>
	    <%= f.text_field :place, size: 30 %>
	</div>
	<div class="field">
	    <%= f.label :event_description %><br>
	    <%= f.text_area :event_description, rows: 8, cols: 30 %>
	</div>

	<div class="field">
   	 	<%= f.file_field :avatar %>
   	  	<%= f.hidden_field :avatar_cache %>
  	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
