<%= form_for(@people_yearbook) do |f| %>
  <% if @people_yearbook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@people_yearbook.errors.count, "error") %> prohibited this people_yearbook from being saved:</h2>

      <ul>
      <% @people_yearbook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div class="field">
	    Person Name<br>
		<input type="text" name="person_name" value="" size="30" /> 
	</div>
	<div class="field">
	    <%= f.label "事件精准日期:" %><br>
	    <%= f.date_select :pdate %>
	</div>
	<div class="field">
		<%= f.check_box :isfuzzydate,{:checked=>true}, "true", "false" %>使用事件模糊日期</br>
		<%= f.select( "year", { "年初" => "begin_year", "年中" => "middle_year", "年末" => "end_year", "春" => "spring", "夏" => "summer", "秋" => "fall", "冬" => "winter"}) %>  
		<%= f.select( "month", { "月初(上旬)" => "begin_month", "月中(中旬)" => "middle_month", "月末(下旬)" => "end_month"}) %>  
		<%= f.select( "day", { "凌晨" => "midnight", "早上" => "early_day", "上午" => "morning", "中午" => "noon", "下午" => "afternoon", "晚上" => "evening", "夜里" => "night"}) %>  
		
	</div>
	<div class="field">
	    <%= f.label :place %><br>
	    <%= f.text_field :place, size: 30 %>
	</div>
	<div class="field">
	    <%= f.label :event_description %><br>
	    <%= f.text_area :event_description, rows: 8, cols: 30 %>
	</div>
	<div class="field">
		<%= f.label :tag %>(Comma Separated)<br/>
		<%= f.text_field :tag, size: 30 %>
	</div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
