<script language="javascript">
window.onload=function showtable(){
    var tablename=document.getElementById("yearbooks_one");
    var li=tablename.getElementsByTagName("tr");
    for (var i=0;i<li.length;i++){
        if(i%2 ==0){    
        li[i].style.backgroundColor="#FFB584";
        }
    }
    var tablename=document.getElementById("yearbooks_two");
    var li=tablename.getElementsByTagName("tr");
    for (var i=0;i<li.length;i++){
        if(i%2 ==0){    
        li[i].style.backgroundColor="#FFB584";
        }
    }
}

</script>
<body>
	<div id="wrapper">
		<div id="content">
			<div class="c1">
				<div class="controls">
					<nav class="links">
						<ul>
							<li><a href="/people#index" class="ico1">People </a></li>
							<li><a href="/people_yearbooks#index" class="ico2">People Yearbooks </a></li>
							<li><a href="/people_yearbooks/contrast" class="ico2">Contrast Yearbooks </a></li>
						</ul>
					</nav>
					<div class="profile-box">
						<span class="profile">
							<a href="#" class="section">
								<img class="image" src="/images/img1.png" alt="image description" width="26" height="26" />
								<span class="text-box">
									Welcome
									<strong class="name">Xulin Zhuang</strong>
								</span>
							</a>
							<a href="#" class="opener">opener</a>
						</span>
						 <%= link_to('Logout', destroy_user_session_path, :method => :delete,class: 'btn-on') %>  
					</div>
				</div>
				<div class="tabs" > 
					<div id="tab-1" class="tab">
						<article>
							<div class="text-section">
								<h1><p id="notice"><%= notice %></p></h1>
							</div>
							<ul class="states" >
								<%= form_tag people_yearbooks_contrast_path, :method => 'get' do %>
								<p>
									One Person Name:
								<%= text_field_tag :person_name_one, nil, value: @person_name_one, size: 30 %>
								
									Contrast Other Person Name:
								<%= text_field_tag :person_name_two, nil,value: @person_name_two, size: 30 %>
								<%= submit_tag "Search", :name => nil %>
								</p>
								<% end %>
								<h1>Contrast People Yearbooks</h1>
							</ul>
							<div id="person_one" style="float:left;width:49%;border:1px solid #F00;height:530px;overflow:auto">
								<ul class="states" >
									Person Name:<%= @person_name_one %>
								<table width="100%">
								  <thead>
								    <tr style="text-align: center; COLOR: #0076C8; BACKGROUND-COLOR: #F4FAFF; font-weight: bold">
									 	<th width="25%">Yearbook Date</th>
									  	<th width="55%">Event Description</th>
								      	<th width="20%" colspan="3">Operation</th>
								    </tr>
								  </thead>
								  <tbody id="yearbooks_one">
									  <% if @people_yearbooks_one != nil%>
									  <% @people_yearbooks_one.each do |people_yearbook_one| %>
  								      <tr>
  										 <td align='center'><%= people_yearbook_one.fuzzy_date_quantum %></td>
  										 <td><%= people_yearbook_one.event_description %></td>
  								        <td align='center'><%= link_to 'Show', people_yearbook_one %></td>
  								        <td align='center'><%= link_to 'Edit', edit_people_yearbook_path(people_yearbook_one) %></td>
  								        <td align='center'><%= link_to 'Destroy', people_yearbook_one, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  								      </tr>
									  <% end %>
  								    <% end %>

								  </tbody>
								</table>
								<br />
							</ul>
						</div>
						<div id="person_two" style="float:left;width:49%;border:1px solid #000;height:530px;overflow:auto">
								<ul class="states" >
									Person Name:<%= @person_name_two %>
								<table width="100%">
								  <thead>
								    <tr style="text-align: center; COLOR: #0076C8; BACKGROUND-COLOR: #F4FAFF; font-weight: bold">
									 	<th width="25%">Yearbook Date</th>
									  	<th width="55%">Event Description</th>
								      	<th width="20%" colspan="3">Operation</th>
								    </tr>
								  </thead>
								  <tbody id="yearbooks_two">
									  <% if @people_yearbooks_two != nil%>
									  <% @people_yearbooks_two.each do |people_yearbook_two| %>
  								      <tr>
  										 <td align='center'><%= people_yearbook_two.fuzzy_date_quantum %></td>
  										 <td><%= people_yearbook_two.event_description %></td>
  								        <td align='center'><%= link_to 'Show', people_yearbook_two %></td>
  								        <td align='center'><%= link_to 'Edit', edit_people_yearbook_path(people_yearbook_two) %></td>
  								        <td align='center'><%= link_to 'Destroy', people_yearbook_two, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  								      </tr>
									  <% end %>
  								    <% end %>
								  </tbody>
								</table>
								<br />
							</ul>
						</div>
						</article>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
</body>