<body>
	<div id="wrapper">
		<div id="content">
			<div class="c1">
				<div class="controls">
					<nav class="links">
						<ul>
							<li><a href="/people#index" class="ico1">People </a></li>
							<li><a href="/people_yearbooks#index" class="ico2">People Yearbooks </a></li>
						</ul>
					</nav>
					<div class="profile-box">
						<span class="profile">
							<a href="#" class="section">
								<img class="image" src="/images/img1.png" alt="image description" width="26" height="26" />
								<span class="text-box">
									Welcome
									<strong class="name">Xulin Zhuang</strong>
								</span>
							</a>
							<a href="#" class="opener">opener</a>
						</span>
						 <%= link_to('Logout', destroy_user_session_path, :method => :delete,class: 'btn-on') %>  
					</div>
				</div>
				<div class="tabs">
					<div id="tab-1" class="tab">
						<article>
							<div class="text-section">
								<h1><p id="notice"><%= notice %></p></h1>
							</div>
							<ul class="states" >
								<%= form_tag people_yearbooks_path, :method => 'get' do %>
								<p>
								<%= text_field_tag :person_name, nil, placeholder: 'Enter person name...', size: 30 %>
								<%= submit_tag "Search", :name => nil %>
								</p>
								<% end %>
							</ul>
							<ul class="states" >
								<h1>Listing People Yearbooks</h1>
								Person Name:<%= @person_name %>

								<table width="80%">
								  <thead>
								    <tr style="text-align: center; COLOR: #0076C8; BACKGROUND-COLOR: #F4FAFF; font-weight: bold">
										<th width="10%">NO.</th>
									 	<th width="20%">Yearbook Date</th>
									  	<th width="10%">Place</th>
									  	<th width="40%">Event Description</th>
								      	<th width="20%" colspan="3">Operation</th>
								    </tr>
								  </thead>

								  <tbody>
								    <% @people_yearbooks.each_with_index do |people_yearbook,i| %>
								      <tr>
										  <td align='center'><%= i+1 %></td>
										 <td align='center'><%= people_yearbook.pdate %></td>
										 <td align='center'><%= people_yearbook.place %></td>
										 <td><%= people_yearbook.event_description %></td>
								        <td align='center'><%= link_to 'Show', people_yearbook %></td>
								        <td align='center'><%= link_to 'Edit', edit_people_yearbook_path(people_yearbook) %></td>
								        <td align='center'><%= link_to 'Destroy', people_yearbook, method: :delete, data: { confirm: 'Are you sure?' } %></td>
								      </tr>
								    <% end %>
								  </tbody>
								</table>
  每页显示<b><%= @people_yearbooks.per_page %></b>条数据,共有<b><%= @people_yearbooks.total_pages %></b>页,  共有<b><%= @people_yearbooks.total_entries %></b>条数据</br>
  <%= will_paginate @people_yearbooks, :container => false %>
								<br>

								<%= link_to 'New People yearbook', new_people_yearbook_path %>
								
							</ul>
						</article>
					</div>
				</div>
			</div>
		</div>
		
		
	</div>
</body>
